@font-face {
    font-family: 'HeadFont';
    src: url('assets/fonts/HeadFont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MessageFont';
    src: url('assets/fonts/MessageFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TitleFont';
    src: url('assets/fonts/TitleFont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    overflow-x: hidden; /* Disable horizontal scrolling */
    overflow-y: auto;   /* Enable vertical scrolling */
    height: 100%;
    background: black; /* Prevent white flash */
}

body {
    opacity: 0; /* Start hidden */
    transition: opacity 0.5s ease-in-out; /* Smooth fade-in */
}

.container {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure content can extend beyond the viewport */
    width: 100vw;
    top: 60px;
    position: relative;
    z-index: 1;
    color: white; /* Ensure text is visible */
    font-family: 'MessageFont';
}

.bgImg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Fixed height of the background */
    width: 100vw; /* Width adjusted to the viewport */
    z-index: -1; /* Behind all content */
    background-position: top left; /* Align to top left */
    background-size: auto 100%; /* Maintain aspect ratio, fill height */
    background-repeat: no-repeat; /* Ensure the image doesn't repeat */
    transition: background-image 0.2s ease-in-out; /* Smooth transition when switching images */
}

/* Apply blur effect to entire viewport including the edges */
.bgImg::before {
    content: "";
    position: fixed; /* Make sure it covers the entire viewport */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: inherit; /* Inherit background properties */
    filter: blur(2px); /* Apply blur effect */
    z-index: -1; /* Ensure it stays behind the content */
}

#bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 3px solid #111155CC;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  position: fixed; /* Make sure it stays fixed at the top */
  color: #DDDDDD; /* Ensure text is visible */
  background-color: #AA1133;
}

#barTitle {
  color: inherit;
  text-decoration: none;
  margin-left: 16px;
  margin-right: 20px;
  font-size: 25px;
  font-family: 'HeadFont';
}

button {
  padding: 3px;
  width: 130px;
  border-radius: 6px;
  margin-left: 15px;
  margin-top: 3px;
  background-color: #000088EE;
  color: #FFFFFF;
  font-size:22px;
  font-family: 'TitleFont';
}

button:hover {
  margin-top: 6px;
  background-color: #3300EEFF;
}

p {
  font-size: 24px;
  margin: 3px;
  padding-left: 10px;
}
